.btn-base {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #2ca01c;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 0 16px;
    text-align: center;
    border: 0;
    height: 36px;
    user-select: none;
}

.btn-base:focus {
    background-color: #35bf22;
    outline: none;
}

.btn-base:hover {
    background-color: #35bf22;
}

.btn-base--pressed {
    background-color: #01B075;
}

.btn-base.btn--disabled {
    cursor: default;
    opacity: 0.6;
}

.btn-base.btn-icon {
    padding: 0 16px;
}

.btn-base.btn-icon .icon-left {
    padding-right: 8px;
}

.btn-base.btn-icon .icon-right {
    padding: 0 12px;
}

.btn-base.btn-seconds {
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    color: #111;
    border: 1px solid var(--border-color);
}

.btn-base.btn-seconds:hover {
    background-color: #E9EBEE;
}

.btn-base.btn-seconds:focus {
    background-color: #E9EBEE;
}