.modal {
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 5px 0; */
    z-index: 999;
}

/* .modal ::-webkit-scrollbar-track {
    margin-top: 60px;
    margin-bottom: 4px;
} */

.info-form {
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    /* overflow: auto; */
    width: 900px;
    border-radius: 2px;
    position: relative;
}

/*
*
*  CSS Header of form
*
*/


.info-form .close {
    position: absolute;
    right: 12px;
    /* top: 12px; */
    cursor: pointer;
}

.info-form .form__header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    padding: 15px 15px 15px 15px;
    font-weight: 700;
    height: 50px;
}


/* 
*   CSS form body 
*/

.info-form .form__body {
    display: flex;
    padding: 0 7px;
    /* padding-top: 0px; */
    padding-bottom: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}

.info-form .label {
    font-size: 13px;
    color: #111;
    font-weight: bold;
    padding-bottom: 4px;
}

/* 
*   CSS form content - input 
*/

.info-form .form__input {
    padding-right: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.info-form .form__field-input {
    margin-left: 8px;
    margin-top: 16px;
    flex-grow: 1;
}

/* Set width cho input ngắn */
.info-form .sub-input {
    /* width: calc(25% - 6px); */
    flex-grow: 1;
}

/* 
*   CSS form footer 
*/

.info-form .form__footer {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 75px; */
    padding: 10px 0;
    margin: 0 15px;
}

.info-form .form__footer #cancel,
.info-form .form__footer #submit,
.info-form .form__footer #save {
    margin-left: 16px;
    /* width: 75px; */
    /* padding: 0 16px; */
    width: 90px;
}

.info-form .form__footer #cancel {
    margin-left: 0;
}

.info-form .form__footer #submit {
    width: 120px !important;
}
