
/* grid CSS */
.grid {
    --row-height: 42px;
    /* height: calc(100vh - 325px); */
    overflow: auto;
    margin-top: 16px;
    margin-bottom: 4px;
    background-color: #fff;
    flex-grow: 1;
    flex-basis: 0px;
    /* margin: 0 16px; */
    position: relative;
}

.grid .grid-wrapper {
    min-height: calc(100% - var(--row-height));
}

.grid .no-content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid .no-content .no-content-img {
    width: 100%;
    height: 76px;
    background-position: center;
    background-image: url('../../assets/img/bg_report_nodata.76e50bd8.svg');
}

.grid .no-content .no-content-msg {
    padding-top: 12px;
    z-index: 6;
    font-weight: 500;
    color: #BABDC4;
}

.grid .text-align-center {
    text-align: center;
}

.grid .text-align-right {
    text-align: right;
    padding-right: 20px;
}

.grid .sticky {
    position: sticky;
    z-index: 1;
}

.grid::-webkit-scrollbar-track {
    margin-top: var(--row-height);
}

.grid::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.grid table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}

.grid th.sticky {
    z-index: 3;
}

.grid th,td {
    height: var(--row-height);
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    padding: 0 10px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    font-size: 13px;
}

.grid th {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: left;
    cursor: default;
    background-color: #eceef1;
}

.grid td {
    line-height: calc(var(--row-height) - 2px);
    background-color: #fff;
}

.grid td .cell-text {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
}

.grid tr.selected:hover td,
.grid tr.selected td {
    background-color: #dfdede;
}

.grid tr:hover td {
    background-color: #f3f8f8;
}

.grid .btn-row-control {
    margin: 0 5px;
}

.grid .btn-row-control i {
    font-size: 16px;
}

.grid .check-box .input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    left: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.grid .custom-checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    background-color: #fff !important;
    border-radius: 2px;
}

.grid tr.selected .custom-checkbox {
    border-color: #2ca01c;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat;
    background-position: -1224px -360px;
}

.grid .table-summary,
.grid tfoot {
    z-index: 5;
    position: sticky;
    bottom: -1px;
    font-weight: 600;
}

.grid .table-summary tr:hover td,
.grid .table-summary td {
    background-color: #eceef1;
}

/** Custom Component trong Table **/

.grid .mx-datepicker {
    width: 100%;
}

.grid .mx-datepicker .mx-icon-clear,
.grid .mx-datepicker .mx-icon-calendar {
    display: none;
}

.grid .mx-datepicker .mx-input-wrapper input:focus,
.grid .mx-datepicker .mx-input-wrapper input {
    border: none;
    text-align: center;
    background-color: unset;
    height: calc(var(--row-height) - 1px);
    padding: unset;
    padding-left: unset;
    padding-right: unset;
    line-height: unset;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.grid .v-autocomplete.v-input--is-focused .v-input__slot,
.grid .v-autocomplete.v-input--is-error .v-input__slot,
.grid .v-autocomplete .v-input__slot {
    border: none !important;
    background-color: unset !important;
    min-width: unset;
    height: calc(var(--row-height) - 1px) !important;
    min-height: unset !important;
}

.grid .v-autocomplete .v-input__control {
    height: calc(var(--row-height) - 1px) !important;
}