.popup__background {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 9999;
}

.popup {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 3px;
    width: 500px;
}

.popup:focus {
    outline: none;
}

.popup .popup__header {
    display: flex;
    position: relative;
    padding: 16px 16px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
}

.popup .popup__title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.popup .popup__body {
    padding: 12px 16px;
    display: flex;
    min-height: 60px;
}

.popup .popup__icon {
    margin-right: 10px;
}

.popup .popup__content {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.popup .popup__footer {
    border-radius: 0 0 4px 4px;
    padding: 0px 16px 16px 12px;
}

.popup.popup--alarm .confirm {
    background-color: #FF7777 !important;
}

.popup.popup--alarm .confirm:hover {
    background-color: #ff4d4d !important;
}

.popup.popup--warning .confirm,
.popup.popup--success .confirm {
    background-color: #2ca01c !important;
}

.popup.popup--success .confirm:hover,
.popup.popup--warning .confirm:hover {
    background-color: #35bf22 !important;
}

.popup .popup__footer .popup__footer-left {
    flex-grow: 1;
}

.popup .popup__footer .popup__footer-right {
    flex-grow: 0;
}

.popup .popup__footer .popup__btn {
    font-weight: 600;
    font-size: 15px;
    width: fit-content;
    padding: 0 16px;
    height: 40px;
    min-width: 75px;
}

.popup .popup__footer .confirm {
    margin-left: 12px;
}

.popup .popup__footer .cancel {
    width: fit-content;
}