.v-checkbox {
    margin-top: 0 !important;
    margin-left: 16px;
    font-weight: 500;
}

.v-checkbox .v-label {
    font-size: 13px;
    margin-left: 8px;
    color: #111;
    font-weight: inherit;
    font-family: Notosans-Regular;
}

.v-checkbox.v-input--is-label-active .v-icon {
    color: #4caf50 !important;
}