/* Tooltip container */
.tooltip-container {
  position: relative;
}
  
/* Tooltip text */
.tooltip-container .tooltip-text,
.tooltip-container .tooltiptext {
  /* display: none; */
  width: auto;
  background-color: rgba(97, 97, 97, .9);
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  padding: 5px 16px;
  border-radius: 2px;
  opacity: 0.9;
  text-transform: none;
  
  /* Position the tooltip text */
  position: absolute;
  top: calc(100% + 5px);
  white-space: nowrap;
  z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip-text {
  display: none;
  z-index: 4 !important;
}

.tooltip-container:hover .tooltip-text {
  display: inline-block;
  left: -5px;
}

.tooltiptext {
  left: -5px;
}

.tooltip-base,
.btn-tooltip {
  background-color: rgba(97, 97, 97, .9);
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  padding: 5px 16px;
  border-radius: 2px;
  opacity: 0.9;
  text-transform: none;
  z-index: 3000;
  margin: 5px;
}

.r-tooltip,
.refresh-tooltip {
  margin-right: 40px;
}

.insurance-tooltip {
  margin-left: 120px;
}